<nav id="header" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand " routerLink="/home">    
    <img width="30" src="../../../assets/ImgGeneral/escudoUG.png">
       SSUG </a>
      <div class="col col-md-offset-8 " id="navbarText">
          <ul class="navbar-nav ml-auto nav-flex-icons justify-content-end">   
                       <li class="nav-item active">
                  <a class="nav-link" routerLink="/home/registro">Registro<span class="sr-only">(current)</span></a>
                </li>
              <li class="nav-item">
                  <a class="nav-link" href="">Iniciar Sesión<span class="sr-only">(current)</span></a>
                </li>   
            </ul>
      </div>
  </nav>

  
